@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Black.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Bold.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Light.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Italic.ttf');
  font-weight: normal;
}